aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiohttp-retry==2.9.1
aiosignal==1.4.0
asgiref==3.12.1
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.4.9
dj-database-url==3.1.2
Django==5.2.8
django-environ==0.14.0
frozenlist==1.8.0
gunicorn==26.0.0
idna==3.18
multidict==6.7.1
packaging==26.0
pillow==12.3.0
propcache==0.5.2
psycopg2-binary==2.9.12
PyJWT==2.13.0
requests==2.34.2
setuptools==83.0.0
sqlparse==0.5.5
twilio==9.10.9
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
wheel==0.47.0
whitenoise==6.12.0
yarl==1.24.5
